@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a asp-controller="Account" asp-action="Register">registration</a>
<a asp-controller="Chat" asp-action="Chat">chat</a>
<a asp-controller="D2WebApi" asp-action="Index">D2WebApi</a> 