@model List<Infrastructure.Data.DTO.Hero>

@{
    List<Infrastructure.Data.DTO.Hero> strList = new List<Infrastructure.Data.DTO.Hero>();
    List<Infrastructure.Data.DTO.Hero> agiList = new List<Infrastructure.Data.DTO.Hero>();
    List<Infrastructure.Data.DTO.Hero> intList = new List<Infrastructure.Data.DTO.Hero>();

    foreach (var hero in Model)
    {
        if (hero.PrimaryAttr == "str")
            strList.Add(hero);
        else if (hero.PrimaryAttr == "agi")
            agiList.Add(hero);
        else if (hero.PrimaryAttr == "int")
            intList.Add(hero);
    };
}

<div>
    <div style="margin: 30px">
        <img style="float: left" src="~/images/strAttrSym.png" alt="strAttrSym.png">
        <h4>Strength</h4>
    </div>
    <partial name="_HeroListPartialView" model="@strList" />
</div>
<div>
    <div style="margin: 30px">
        <img style="float: left" src="~/images/agiAttrSym.png" alt="agiAttrSym.png">
        <h4>Agility</h4>
    </div>
    <partial name="_HeroListPartialView" model="@agiList" />
</div>
<div>
    <div style="margin: 30px">
        <img style="float: left" src="~/images/intAttrSym.png" alt="intAttrSym.png">
        <h4>Intelengince </h4>
    </div>
    <partial name="_HeroListPartialView" model="@intList" />
</div>